@model KanbanBoardMVCApp.ViewModels.UserIndexVM
@{
    ViewData["Title"] = "User Management";
}

<h1>@ViewData["Title"]</h1>

<h2>Users</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>User name</th>
            <th>Role</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>@user.UserName</td>
                <td>
                    @foreach (string role in Model.UserRoles(user).Result)
                    {
                        <span>@role </span>
                    }
                </td>
                <td>
                    <a asp-action="AssignRole" asp-route-userId="@user.Id">Assign role</a> |
                    <a asp-action="RemoveRoles" asp-route-userId="@user.Id" class="text-danger">Remove ALL roles</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <span class="text-danger">@ViewBag.ErrorMessage</span>
</div>