@model KanbanBoardMVCApp.ViewModels.KanbanBoardVM

@{
    ViewData["Title"] = "Index";
}

<h1>@Model.KanbanBoard</h1>
<div>
    <a asp-action="AddItem" asp-controller="KanbanItems">Add item <i class="btn btn-primary fa fa-plus"></i></a>
</div>
<section id="kanbanBoard" class="row">
    <section class="col-md-3">
        <h2>@Model.KanbanColumns.Find(x => x.Headline == "To Do")</h2>
        @foreach (var item in Model.ToDoItems)
        {
            <div class="card">
                <div class="card-body">
                    <a asp-action="UpdateItem" asp-controller="KanbanItems" asp-route-itemId="@item.Id"><h5>@item</h5></a>
                    <div class="card-actions">
                        <a class="btn btn-danger" asp-action="DeleteItem" asp-route-itemId="@item.Id">X</a>
                        <a class="btn btn-primary" asp-action="MoveItem" asp-route-itemId="@item.Id" asp-route-columnId="2">
                            <i class="fa fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        }
    </section>
    <section class="col-md-3">
        <h2>@Model.KanbanColumns.Find(x => x.Headline == "Doing")</h2>
        @foreach (var item in Model.DoingItems)
        {
            <div class="card">
                <div class="card-body">
                    <a asp-action="UpdateItem" asp-controller="KanbanItems" asp-route-itemId="@item.Id"><h5>@item</h5></a>
                    <div class="card-actions">
                        <a class="btn btn-primary" asp-action="MoveItem" asp-route-itemId="@item.Id" asp-route-columnId="1">
                            <i class="fa fa-arrow-left"></i>
                        </a>
                        <a class="btn btn-danger" asp-action="DeleteItem" asp-route-itemId="@item.Id">X</a>
                        <a class="btn btn-primary" asp-action="MoveItem" asp-route-itemId="@item.Id" asp-route-columnId="3">
                            <i class="fa fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        }
    </section>
    <section class="col-md-3">
        <h2>@Model.KanbanColumns.Find(x => x.Headline == "Testing")</h2>
        @foreach (var item in Model.TestingItems)
        {
            <div class="card">
                <div class="card-body">
                    <a asp-action="UpdateItem" asp-controller="KanbanItems" asp-route-itemId="@item.Id"><h5>@item</h5></a>
                    <div class="card-actions">
                        <a class="btn btn-primary" asp-action="MoveItem" asp-route-itemId="@item.Id" asp-route-columnId="2">
                            <i class="fa fa-arrow-left"></i>
                        </a>
                        <a class="btn btn-danger" asp-action="DeleteItem" asp-route-itemId="@item.Id">X</a>
                        <a class="btn btn-primary" asp-action="MoveItem" asp-route-itemId="@item.Id" asp-route-columnId="4">
                            <i class="fa fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        }
    </section>
    <section class="col-md-3">
        <h2>@Model.KanbanColumns.Find(x => x.Headline == "Done")</h2>
        @foreach (var item in Model.DoneItems)
        {
            <div class="card">
                <div class="card-body">
                    <a asp-action="UpdateItem" asp-controller="KanbanItems" asp-route-itemId="@item.Id"><h5>@item</h5></a>
                    <div class="card-actions">
                        <a class="btn btn-primary" asp-action="MoveItem" asp-route-itemId="@item.Id" asp-route-columnId="3">
                            <i class="fa fa-arrow-left"></i>
                        </a>
                        <a class="btn btn-danger" asp-action="DeleteItem" asp-route-itemId="@item.Id">X</a>
                    </div>
                </div>
            </div>
        }
    </section>
</section>

@section Styles {
    <style>
        #kanbanBoard {
            margin: 2rem 0;
            background-color: rgba(0,0,0,0.3);
            padding: 1rem 0;
        }

        .card-actions {
            display: flex;
            justify-content: space-between;
        }
    </style>
}

